<!DOCTYPE html>
<html>
    <head>
        <title>Angular 101: From n00b to ngExpert</title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/prism.css">
        <link rel="stylesheet" href="css/custom.css">
    </head>
    <body>
    <article>
      <section data-bespoke-state="start">
        <div class="content">
          <div class="unbrokenline"></div>
          <h1>Angular 101</h1>
          <h1>From n00b to ngExpert</h1>
          <div class="byline">
            <div class="classy">
              by Martin Gontovnikas
            </div>
          </div>
          <div class="profile">
            <div class="rounded-image">
              <img src="img/gonto.jpg">
            </div>
            <h3>@mgonto</h3>
          </div>
        </div>
      </section>

      <section data-bespoke-state="developer">
        <div class="content">
          <div class="byline">
            <div class="classy">
              I am a
            </div>
          </div>
          <h3>software developer</h3>
          <div class="byline">
            <div class="classy">
              from Buenos Aires, Argentina
            </div>
          </div>
        </div>
      </section>

      <section data-bespoke-state="auth0">
        <div class="content">
          <div class="byline">
            <div class="classy">
              working at
            </div>
          </div>
          <h3>Auth0 Inc.</h3>
          <div class="byline">
            <div class="classy">
              making stuff happen
            </div>
          </div>
        </div>
      </section>

      <section data-bespoke-state="js">
        <div class="content">
          <div class="byline">
            <div class="classy">
              used to be coding
            </div>
          </div>
          <h3>Javascript</h3>
          <div class="byline">
            <div class="classy">
              all day long
            </div>
          </div>
        </div>
      </section>

      <section data-bespoke-state="programming">
        <div class="content"></div>
      </section>

      <section data-bespoke-state="advocate">
        <div class="content">
          <div class="byline">
            <div class="classy">
              Now I work as a
            </div>
          </div>
          <h3>Developer Advocate</h3>
          <div class="unbrokenline"></div>
        </div>
      </section>

      <section data-bespoke-state="smoke">
        <div class="content"></div>
      </section>

      <section>
        <div class="content">
          <h3>So let's start with the workshop!</h3>
        </div>
      </section>

      <section>
        <div class="content list">
          <div class="unbrokenline"></div>
          <h3>Angular's creation</h3>
          <div class="unbrokenline"></div>
          <div class="fake-list">
            <h4>- It was created by Miško Hevery</h4>
            <h4 class="important">- All previous MV* FrontEnd frameworks had 80% of the code for DOM manipulation and 20% for code that matters</h4>
            <h4>- You had to explicitly say exactly what you wanted to do with DOM every time</h4>
            <h4>- It wasn't fast to develop at all</h4>
          </div>
        </div>
      </section>

      <section>
        <div class="content list">
          <div class="unbrokenline"></div>
          <h3>Angular's 4D</h3>
          <div class="unbrokenline"></div>
          <div class="fake-list" style="min-width: 500px">
            <h4 class="important">- Declarative</h4>
            <h4>- Data Binding</h4>
            <h4>- Directives</h4>
            <h4>- Dependency Injection</h4>
          </div>
        </div>
      </section>

      <section>
        <div class="content">
          <h3>So let's start learning this</h3>
        </div>
      </section>

      <section>
        <div class="content">
          <h3>First thing we need to do is create an app</h3>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content">
          <h4>We add the ng-app attribute</h4>
          <pre><code class="language-markup">
&lt;div ng-app="questionarie" &gt;
  &lt;span&gt;Hello World&lt;/span&gt;
&lt;/div&gt;
          </code></pre>
          <h4>We create the APP in JS</h4>
          <pre><code class="language-javascript">
angular.module('questionarie', [])
          </code></pre>

        </div>
      </section>

      <section>
        <div class="content list">
          <div class="unbrokenline"></div>
          <h3>Angular App</h3>
          <div class="unbrokenline"></div>
          <div class="fake-list">
            <h4>- Every app is a module</h4>
            <h4>- A module can depend on other modules (apps)</h4>
            <h4>- Everything inside the HTML element with the ng-app will be the Angular app</h4>
          </div>
        </div>
      </section>

      <section>
        <div class="content">
          <h3>Now let's add some logic</h3>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content">
          <div data-angular-app="questionarie" ng-controller="QuestionarieCtrl">
            <label>Name: </label>
            <div>
              <input type="text" ng-model="person.name" />
            </div>
            <label>Do you like Nyan Cat?: </label>
            <div>
              <input type="checkbox" ng-model="person.likeNyan" />
            </div>
            <input type="button" ng-click="showProfileCard()" value="Show profile card">
            <input type="button" ng-click="showResponse()" value="What is {{person.name}}?">
            <div ng-show="cardShown" class="card">
              <p class="name">Description of {{person.name}}</p>
              <div ng-switch="person.likeNyan">
                <p ng-switch-when="true">This person is really fun</p>
                <p ng-switch-when="false">This person is extremely boring</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content">
          <pre data-line="1"><code class="language-markup">&lt;div ng-app=&quot;questionarie&quot; ng-controller=&quot;QuestionarieCtrl&quot;&gt;
  &lt;label&gt;Name: &lt;/label&gt;
  &lt;input type=&quot;text&quot; ng-model=&quot;person.name&quot; /&gt;
  &lt;label&gt;Do you like Nyan Cat?: &lt;/label&gt;
  &lt;input type=&quot;checkbox&quot; ng-model=&quot;person.likeNyan&quot; /&gt;

  &lt;input type=&quot;button&quot; ng-click=&quot;showProfileCard()&quot; value=&quot;Show profile card&quot;&gt;
  &lt;input type=&quot;button&quot; ng-click=&quot;showResponse()&quot; value=&quot;What is {{person.name}}?&quot;&gt;

  &lt;div ng-show=&quot;cardShown&quot; class=&quot;card&quot;&gt;
    &lt;p class=&quot;name&quot;&gt;Description of {{person.name}}&lt;/p&gt;
    &lt;div ng-switch=&quot;person.likeNyan&quot;&gt;
      &lt;p ng-switch-when=&quot;true&quot;&gt;This person is really fun&lt;/p&gt;
      &lt;p ng-switch-when=&quot;false&quot;&gt;This person is extremely boring&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content nofade">
          <pre data-line="3"><code class="language-markup">&lt;div ng-app=&quot;questionarie&quot; ng-controller=&quot;QuestionarieCtrl&quot;&gt;
  &lt;label&gt;Name: &lt;/label&gt;
  &lt;input type=&quot;text&quot; ng-model=&quot;person.name&quot; /&gt;
  &lt;label&gt;Do you like Nyan Cat?: &lt;/label&gt;
  &lt;input type=&quot;checkbox&quot; ng-model=&quot;person.likeNyan&quot; /&gt;

  &lt;input type=&quot;button&quot; ng-click=&quot;showProfileCard()&quot; value=&quot;Show profile card&quot;&gt;
  &lt;input type=&quot;button&quot; ng-click=&quot;showResponse()&quot; value=&quot;What is {{person.name}}?&quot;&gt;

  &lt;div ng-show=&quot;cardShown&quot; class=&quot;card&quot;&gt;
    &lt;p class=&quot;name&quot;&gt;Description of {{person.name}}&lt;/p&gt;
    &lt;div ng-switch=&quot;person.likeNyan&quot;&gt;
      &lt;p ng-switch-when=&quot;true&quot;&gt;This person is really fun&lt;/p&gt;
      &lt;p ng-switch-when=&quot;false&quot;&gt;This person is extremely boring&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content nofade">
          <pre data-line="5"><code class="language-markup">&lt;div ng-app=&quot;questionarie&quot; ng-controller=&quot;QuestionarieCtrl&quot;&gt;
  &lt;label&gt;Name: &lt;/label&gt;
  &lt;input type=&quot;text&quot; ng-model=&quot;person.name&quot; /&gt;
  &lt;label&gt;Do you like Nyan Cat?: &lt;/label&gt;
  &lt;input type=&quot;checkbox&quot; ng-model=&quot;person.likeNyan&quot; /&gt;

  &lt;input type=&quot;button&quot; ng-click=&quot;showProfileCard()&quot; value=&quot;Show profile card&quot;&gt;
  &lt;input type=&quot;button&quot; ng-click=&quot;showResponse()&quot; value=&quot;What is {{person.name}}?&quot;&gt;

  &lt;div ng-show=&quot;cardShown&quot; class=&quot;card&quot;&gt;
    &lt;p class=&quot;name&quot;&gt;Description of {{person.name}}&lt;/p&gt;
    &lt;div ng-switch=&quot;person.likeNyan&quot;&gt;
      &lt;p ng-switch-when=&quot;true&quot;&gt;This person is really fun&lt;/p&gt;
      &lt;p ng-switch-when=&quot;false&quot;&gt;This person is extremely boring&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content nofade">
          <pre data-line="7,8"><code class="language-markup">&lt;div ng-app=&quot;questionarie&quot; ng-controller=&quot;QuestionarieCtrl&quot;&gt;
  &lt;label&gt;Name: &lt;/label&gt;
  &lt;input type=&quot;text&quot; ng-model=&quot;person.name&quot; /&gt;
  &lt;label&gt;Do you like Nyan Cat?: &lt;/label&gt;
  &lt;input type=&quot;checkbox&quot; ng-model=&quot;person.likeNyan&quot; /&gt;

  &lt;input type=&quot;button&quot; ng-click=&quot;showProfileCard()&quot; value=&quot;Show profile card&quot;&gt;
  &lt;input type=&quot;button&quot; ng-click=&quot;showResponse()&quot; value=&quot;What is {{person.name}}?&quot;&gt;

  &lt;div ng-show=&quot;cardShown&quot; class=&quot;card&quot;&gt;
    &lt;p class=&quot;name&quot;&gt;Description of {{person.name}}&lt;/p&gt;
    &lt;div ng-switch=&quot;person.likeNyan&quot;&gt;
      &lt;p ng-switch-when=&quot;true&quot;&gt;This person is really fun&lt;/p&gt;
      &lt;p ng-switch-when=&quot;false&quot;&gt;This person is extremely boring&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content nofade">
          <pre data-line="10-16"><code class="language-markup">&lt;div ng-app=&quot;questionarie&quot; ng-controller=&quot;QuestionarieCtrl&quot;&gt;
  &lt;label&gt;Name: &lt;/label&gt;
  &lt;input type=&quot;text&quot; ng-model=&quot;person.name&quot; /&gt;
  &lt;label&gt;Do you like Nyan Cat?: &lt;/label&gt;
  &lt;input type=&quot;checkbox&quot; ng-model=&quot;person.likeNyan&quot; /&gt;

  &lt;input type=&quot;button&quot; ng-click=&quot;showProfileCard()&quot; value=&quot;Show profile card&quot;&gt;
  &lt;input type=&quot;button&quot; ng-click=&quot;showResponse()&quot; value=&quot;What is {{person.name}}?&quot;&gt;

  &lt;div ng-show=&quot;cardShown&quot; class=&quot;card&quot;&gt;
    &lt;p class=&quot;name&quot;&gt;Description of {{person.name}}&lt;/p&gt;
    &lt;div ng-switch=&quot;person.likeNyan&quot;&gt;
      &lt;p ng-switch-when=&quot;true&quot;&gt;This person is really fun&lt;/p&gt;
      &lt;p ng-switch-when=&quot;false&quot;&gt;This person is extremely boring&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content">
          <pre><code class="language-javascript">angular.module('questionarie', []);
  .controller('QuestionarieCtrl', function($scope) {

  $scope.person = {
    name: 'John',
    likeNyan: false
  };

  $scope.showProfileCard = function() {
    $scope.cardShown = true;
  };

  $scope.showResponse = function() {
    alert($scope.person.likeNyan ? "Fun" : "Boring");
  }
});
</code></pre>
        </div>
      </section>


      <section>
        <div class="content list">
          <div class="unbrokenline"></div>
          <h3>Controllers & Scope</h3>
          <div class="unbrokenline"></div>
          <div class="fake-list">
            <h4>- The controller interacts with the model and receives input from the view</h4>
            <h4>- The $scope is the glue between the view and the controller</h4>
            <h4>- ng-model creates bidirectional data binding between DOM element and $scope</h4>
            <h4>- ng-click allows us to send an event to the controller</h4>
            <h4 class="thumb">- Thumb rule: Never use DOM elements from them</h4>
          </div>
        </div>
      </section>

      <section data-bespoke-state="excercise">
        <div class="content">
          <h3>Excercise time: email-checker</h3>
        </div>
      </section>

      <section>
        <div class="content">
          <h3>Now we know if you like Nyan Cat or not</h3>
        </div>
      </section>

      <section>
        <div class="content">
          <h3>However, the alerting method is really coupled to the controller</h3>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content">

          <pre data-line="14"><code class="language-javascript">angular.module('questionarie', []);
  .controller('QuestionarieCtrl', function($scope) {

  $scope.person = {
    name: 'John',
    likeNyan: false
  };

  $scope.showProfileCard = function() {
    $scope.cardShown = true;
  };

  $scope.showResponse = function() {
    alert($scope.person.likeNyan ? "Fun" : "Boring");
  }
});
</code></pre>
        </div>
      </section>

      <section>
        <div class="content">
          <h3>Let's fix that</h3>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content">

          <pre><code class="language-javascript">
angular.module('questionarie').factory('Alerter', function() {
  var service = {};

  service.alert = function(msg) {
    alert(msg)
  }

  return service;

});

// Or
angular.module('questionarie').service('Alerter', function() {
  this.alert = function(msg) {
    alert(msg);
  }
});
          </code></pre>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content">

          <pre><code class="language-javascript">angular.module('questionarie').provider('Alerter', function() {

  this.title = "Main Dialog";
  this.setTitle = function(title) {
    this.title = title;
  }

  this.$get = function() {
    var title = this.title;
    return {
        alert: function(msg) {
            alert(title + " " + msg);
        }
    }
  }
});

angular.module('questionarie', []).config(function(AlerterProvider) {
    AlerterProvider.setTitle("Dialog title");
});</code></pre>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content">

          <pre><code class="language-javascript">// Factory
.provider('MyService', function() {
  this.$get = function() {
    // This is the facotry function
    var service = {};
    service.sayHello = function() {...};
    return service;
  };
});</code></pre>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content">

          <pre><code class="language-javascript">// Service
function Service() {
  this.sayHello = function() {...};
}
.provider('MyService', function() {
  this.$get = function() {
    return new Service();
  };
});</code></pre>
        </div>
      </section>

      <section>
        <div class="content list">
          <div class="unbrokenline"></div>
          <h3>Services</h3>
          <div class="unbrokenline"></div>
          <div class="fake-list">
            <h4>- There're 3 ways of defining a service. The base one is provider</h4>
            <h4>- You can add configurations to a provider service in the config of the app</h4>
            <h4 class="important big">- Services are singleton and are instantiated the first time they're injected</h4>
            <h4 class="thumb">- Thumb rule: Never use DOM elements from them</h4>
          </div>
        </div>
      </section>

      <section data-bespoke-state="excercise">
        <div class="content">
          <h3>Excercise time: email-checker with EmailService</h3>
        </div>
      </section>

      <section>
        <div class="content">
          <h3>We're going to have person cards that show user info throughout the page</h3>
        </div>
      </section>


      <section data-bespoke-state="livecode long">
        <div class="content">
          <pre><code class="language-markup">&lt;div ng-show=&quot;cardShown&quot; class=&quot;card&quot;&gt;
    &lt;p class=&quot;name&quot;&gt;Description of {{person.name}}&lt;/p&gt;
    &lt;div ng-switch=&quot;person.likeNyan&quot;&gt;
      &lt;p ng-switch-when=&quot;true&quot;&gt;This person is really fun&lt;/p&gt;
      &lt;p ng-switch-when=&quot;false&quot;&gt;This person is extremely boring&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
      </section>


      <section>
        <div class="content">
          <h3>We don't want to copy &amp; paste the code to do this everytime</h3>
        </div>
      </section>

      <section>
        <div class="content">
          <h3>It'd be really good if we could create own own HTML tags like &lt;person-card&gt;</h3>
        </div>
      </section>

      <section>
        <div class="content">
          <h3>We actually can. Let's do it</h3>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content">
          <div data-angular-app="questionarieTwo" ng-controller="QuestionarieCtrlWithDirective">
            <label>Name: </label>
            <div>
              <input type="text" ng-model="person.name" />
            </div>
            <label>Do you like Nyan Cat?: </label>
            <div>
              <input type="checkbox" ng-model="person.likeNyan" />
            </div>
            <input type="button" ng-click="showProfileCard()" value="Show profile card">
            <input type="button" ng-click="showResponse()" value="What is {{person.name}}?">
            <person-card on-collapse="log(person)" title="Hey there" person="person" show="cardShown" />
          </div>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content">
          <pre data-line="10"><code class="language-markup">&lt;div ng-app="questionarie2" ng-controller=&quot;QuestionarieCtrlWithDirective&quot;&gt;
  &lt;label&gt;Name: &lt;/label&gt;
  &lt;input type=&quot;text&quot; ng-model=&quot;person.name&quot; /&gt;
  &lt;label&gt;Do you like Nyan Cat?: &lt;/label&gt;
  &lt;input type=&quot;checkbox&quot; ng-model=&quot;person.likeNyan&quot; /&gt;

  &lt;input type=&quot;button&quot; ng-click=&quot;showProfileCard()&quot; value=&quot;Show profile card&quot;&gt;
  &lt;input type=&quot;button&quot; ng-click=&quot;showResponse()&quot; value=&quot;What is {{person.name}}?&quot;&gt;

  &lt;person-card on-collapse=&quot;log(person)&quot; person=&quot;person&quot; show=&quot;cardShown&quot; title=&quot;Hey there&quot; /&gt;
&lt;/div&gt;</code></pre>
        </div>
      </section>


      <section data-bespoke-state="livecode long">
        <div class="content nofade">
          <pre data-line="2"><code class="language-javascript">angular.module('questionarie')
.directive('personCard', function() {
  return {
    restrict: 'E',
    replace: true,
    templateUrl: '/tpls/personCard.html',
    scope: {
      person: '=',
      show: '=',
      onCollapse: '&amp;',
      title: '@'
    },
    controller: function($scope) {
      $scope.collapse = function() {
        $scope.show = false;
        $scope.onCollapse &amp;&amp; $scope.onCollapse();
      }
    }
  };
});</code></pre>
        </div>
      </section>

        <section data-bespoke-state="livecode long">
        <div class="content nofade">
          <pre data-line="4"><code class="language-javascript">angular.module('questionarie')
.directive('personCard', function() {
  return {
    restrict: 'E',
    replace: true,
    templateUrl: '/tpls/personCard.html',
    scope: {
      person: '=',
      show: '=',
      onCollapse: '&amp;',
      title: '@'
    },
    controller: function($scope) {
      $scope.collapse = function() {
        $scope.show = false;
        $scope.onCollapse &amp;&amp; $scope.onCollapse();
      }
    }
  };
});</code></pre>
        </div>

      </section>

      <section data-bespoke-state="livecode long">
        <div class="content nofade">
          <pre data-line="5"><code class="language-javascript">angular.module('questionarie')
.directive('personCard', function() {
  return {
    restrict: 'E',
    replace: true,
    templateUrl: '/tpls/personCard.html',
    scope: {
      person: '=',
      show: '=',
      onCollapse: '&amp;',
      title: '@'
    },
    controller: function($scope) {
      $scope.collapse = function() {
        $scope.show = false;
        $scope.onCollapse &amp;&amp; $scope.onCollapse();
      }
    }
  };
});</code></pre>
        </div>

      </section>

      <section data-bespoke-state="livecode long">
        <div class="content nofade">
          <pre data-line="6"><code class="language-javascript">angular.module('questionarie')
.directive('personCard', function() {
  return {
    restrict: 'E',
    replace: true,
    templateUrl: '/tpls/personCard.html',
    scope: {
      person: '=',
      show: '=',
      onCollapse: '&amp;',
      title: '@'
    },
    controller: function($scope) {
      $scope.collapse = function() {
        $scope.show = false;
        $scope.onCollapse &amp;&amp; $scope.onCollapse();
      }
    }
  };
});</code></pre>
        </div>
    </section>


        <section data-bespoke-state="livecode long">
        <div class="content nofade">
          <pre><code class="language-markup">&lt;div ng-show=&quot;show&quot; class=&quot;card&quot;&gt;
  &lt;p class=&quot;name&quot;&gt;Description of {{person.name}}&lt;/p&gt;
  &lt;div ng-switch=&quot;person.likeNyan&quot;&gt;
    &lt;p ng-switch-when=&quot;true&quot;&gt;This person is really fun&lt;/p&gt;
    &lt;p ng-switch-when=&quot;false&quot;&gt;This person is extremely boring&lt;/p&gt;
  &lt;/div&gt;
  &lt;button ng-click=&quot;collapse()&quot;&gt;Collapse&lt;/button&gt;
&lt;/div&gt;</code></pre>
        </div>
      </section>


      <section data-bespoke-state="livecode long">
        <div class="content nofade">
          <pre data-line="7-12"><code class="language-javascript">angular.module('questionarie')
.directive('personCard', function() {
  return {
    restrict: 'E',
    replace: true,
    templateUrl: '/tpls/personCard.html',
    scope: {
      person: '=',
      show: '=',
      onCollapse: '&amp;',
      title: '@'
    },
    controller: function($scope) {
      $scope.collapse = function() {
        $scope.show = false;
        $scope.onCollapse &amp;&amp; $scope.onCollapse();
      }
    }
  };
});</code></pre>
        </div>

      </section>

      <section data-bespoke-state="livecode long">
        <div class="content nofade">
          <pre data-line="8,9"><code class="language-javascript">angular.module('questionarie')
.directive('personCard', function() {
  return {
    restrict: 'E',
    replace: true,
    templateUrl: '/tpls/personCard.html',
    scope: {
      person: '=',
      show: '=',
      onCollapse: '&amp;',
      title: '@'
    },
    controller: function($scope) {
      $scope.collapse = function() {
        $scope.show = false;
        $scope.onCollapse &amp;&amp; $scope.onCollapse();
      }
    }
  };
});</code></pre>
        </div>

      </section>

      <section data-bespoke-state="livecode long">
        <div class="content nofade">
          <h4>Main Page</h4>
          <pre><code class="language-markup">&lt;person-card person=&quot;person&quot; show=&quot;cardShown&quot; /&gt;
          </code></pre>
          <pre><code class="language-javascript">$scope.person // ==> has the person object
$scope.cardShown = false; // ==> $scope.show from directive will turn false
          </code></pre>
          <h4>Directive</h4>
          <pre><code class="language-markup">
&lt;div ng-show=&quot;show&quot; class=&quot;card&quot;&gt;
  &lt;p class=&quot;name&quot;&gt;Description of {{person.name}}&lt;/p&gt;
&lt;/div&gt;</code></pre>
<pre><code class="language-javascript">$scope.person // ==> has the person object
$scope.show = false; // ==> $scope.cardShown from main page will turn false
          </code></pre>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content nofade">
          <pre data-line="10"><code class="language-javascript">angular.module('questionarie')
.directive('personCard', function() {
  return {
    restrict: 'E',
    replace: true,
    templateUrl: '/tpls/personCard.html',
    scope: {
      person: '=',
      show: '=',
      onCollapse: '&amp;',
      title: '@'
    },
    controller: function($scope) {
      $scope.collapse = function() {
        $scope.show = false;
        $scope.onCollapse &amp;&amp; $scope.onCollapse();
      }
    }
  };
});</code></pre>
        </div>

      </section>

      <section data-bespoke-state="livecode long">
        <div class="content nofade">
          <h4>Main Page</h4>
          <pre><code class="language-markup">&lt;person-card onCollapse=&quot;log(person)&quot; /&gt;</code></pre>
          <pre><code class="language-javascript">$scope.log = function(person) {
  console.log("Person is", person);
}</code></pre>

          <h4>Directive</h4>
<pre><code class="language-javascript">$scope.onCollapse() // Will call log(person)
// It's implemented like:
$scopeOfDirective.onCollapse = function() {
  $scopeOfMainPage.log($scopeOfMainPage.person);
};</code></pre>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content nofade">
          <pre data-line="11"><code class="language-javascript">angular.module('questionarie')
.directive('personCard', function() {
  return {
    restrict: 'E',
    replace: true,
    templateUrl: '/tpls/personCard.html',
    scope: {
      person: '=',
      show: '=',
      onCollapse: '&amp;',
      title: '@'
    },
    controller: function($scope) {
      $scope.collapse = function() {
        $scope.show = false;
        $scope.onCollapse &amp;&amp; $scope.onCollapse();
      }
    }
  };
});</code></pre>
        </div>

      </section>

      <section data-bespoke-state="livecode long">
        <div class="content nofade">
          <h4>Main Page</h4>
          <pre><code class="language-markup">&lt;person-card title=&quot;some cool text&quot; /&gt;
          </code></pre>
          <h4>Directive</h4>
<pre><code class="language-javascript">$scope.title // ==> has the string "some cool text"</code></pre>
        </div>
      </section>



      <section data-bespoke-state="livecode long">
        <div class="content nofade">
          <pre data-line="13-17"><code class="language-javascript">angular.module('questionarie')
.directive('personCard', function() {
  return {
    restrict: 'E',
    replace: true,
    templateUrl: '/tpls/personCard.html',
    scope: {
      person: '=',
      show: '=',
      onCollapse: '&amp;',
      title: '@'
    },
    controller: function($scope) {
      $scope.collapse = function() {
        $scope.show = false;
        $scope.onCollapse &amp;&amp; $scope.onCollapse();
      }
    }
  };
});</code></pre>
        </div>

      </section>

      <section data-bespoke-state="livecode long">
        <div class="content nofade">
          <pre data-line="13-17"><code class="language-javascript">angular.module('questionarie')
.directive('personCard', function() {
  return {
    restrict: 'E',
    replace: true,
    templateUrl: '/tpls/personCard.html',
    scope: {
      person: '=',
      show: '=',
      onCollapse: '&amp;',
      title: '@'
    },
    link: function($scope, $attrs, $element) {
      $scope.collapse = function() {
        $scope.show = false;
        $scope.onCollapse &amp;&amp; $scope.onCollapse();
      }
    }
  };
});</code></pre>
        </div>

      </section>

      <section>
        <div class="content list">
          <div class="unbrokenline"></div>
          <h3>Directives</h3>
          <div class="unbrokenline"></div>
          <div class="fake-list">
            <h4>- Reusable HTML + JS + CSS components</h4>
            <h4>- They can have isolated scope or not, with different scope bindings</h4>
            <h4>- link and controller are the 2 usual places where we can add behaviour</h4>
            <h4 class="thumb">- Thumb rule: Create when you copy &amp; paste some common HTML markup or logic for that markup</h4>
          </div>
        </div>
      </section>

      <section data-bespoke-state="excercise">
        <div class="content">
          <h3>Excercise time: email-checker</h3>
        </div>
      </section>

      <section>
        <div class="content">
          <h3>Now we can get all the information for one person</h3>
        </div>
      </section>

      <section>
        <div class="content">
          <h3>What if we have a list of people from whom we want to know if they're boring or now</h3>
        </div>
      </section>

      <section>
        <div class="content">
          <h3>Let's add routing!</h3>
        </div>
      </section>

      <section data-bespoke-state="demo">
        <div class="content">
          <h3>Demo time: questionarie-with-routing</h3>
        </div>
      </section>

      <section>
        <div class="content list">
          <div class="unbrokenline"></div>
          <h3>Routing</h3>
          <div class="unbrokenline"></div>
          <div class="fake-list">
            <h4>- ui-router is based on State routing</h4>
            <h4>- We think of states instead of URLs and move based on them</h4>
            <h4>- My recommendation: Create one app with routes per "regular page"</h4>
          </div>
        </div>
      </section>

      <section>
        <div class="content list">
          <div class="unbrokenline"></div>
          <h3>$scope inheritance</h3>
          <div class="unbrokenline"></div>
          <div class="fake-list">
            <h4>- Controller scope inheritance works like JS Prototypal inheritance</h4>
            <h4>- All scope objects are inherited by child controllers</h4>
            <h4>- Directives scope inheritance is based on isolated vs non isolated</h4>
            <h4 class="big important">- Remember the "dot model" rule</h4>
          </div>
        </div>
      </section>

      <section>
        <div class="content list">
          <div class="unbrokenline"></div>
          <h3>Filters</h3>
          <div class="unbrokenline"></div>
          <div class="fake-list">
            <h4>- Filters should actually be called transformers</h4>
            <h4>- They should be used to change how we show things in the UI</h4>
            <h4>- Main usage is changing some text to display, filtering lists, formatting and sorting</h4>
            <h4>- Thumb rule: Create one when you just need to change something to be displayed and NOT the model</h4>
          </div>
        </div>
      </section>

      <section data-bespoke-state="excercise">
        <div class="content">
          <h3>Excercise time: email-checker-routing</h3>
        </div>
      </section>

      <section data-bespoke-state="excercise">
        <div class="content">
          <h3>It's all cool, but how do I call my server!?</h3>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content">
          <pre><code class="language-javascript">function Controller($http) {
  $http({
    method: 'POST',
    url: 'https://example.com/url',
    data: {
      key: 'value'
    }
  }).then(function allOk(response) {
    // use response.data
  }, function error(response) {
    // use response.status or response.data
  })
}</code></pre>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content">
          <pre><code class="language-javascript">function config(RestangularProvider) {
  RestangularProvider.setBaseUrl('/api/v1');
}
function controller(Restangular) {
  // Get /api/v1/user/123
  Restangular.one('user', 123).get().then(function(user) {
    // Get /api/v1/user/123/cars
    user.getList('cars').then(function(cars)) {

    }
  })
}
</code></pre>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content">
          <pre><code class="language-javascript">function Controller($http) {
  var promiseOfTelephone = $http({
    method: 'POST',
    url: 'https://example.com/get-user-info',
    data: {
      key: 'value'
    }
  }).then(function allOk(response) {
    return response.data.telephone;
  });</code></pre>
        </div>
      </section>

      <section data-bespoke-state="livecode long">
        <div class="content">
          <pre><code class="language-javascript">function Controller($http) {
  var promiseOfAddress = $http({
    method: 'POST',
    url: 'https://example.com/get-user-info',
    data: {
      key: 'value'
    }
  }).then(function allOk(response) {
    return $http({
      url: https://example.com/get-address',
      method: 'POST',
      data: {
        userId: response.data.userId
      }
    });
  });
}</code></pre>
        </div>
      </section>

      <section>
        <div class="content list">
          <div class="unbrokenline"></div>
          <h3>$http</h3>
          <div class="unbrokenline"></div>
          <div class="fake-list">
            <h4>- $http is the low level API for doing requests</h4>
            <h4>- It's very easy to use, but you have to put the full url and the method to use</h4>
            <h4>- It returns a promise</h4>
          </div>
        </div>
      </section>

      <section>
        <div class="content list">
          <div class="unbrokenline"></div>
          <h3>Restangular</h3>
          <div class="unbrokenline"></div>
          <div class="fake-list">
            <h4>- It's build on top of $http</h4>
            <h4>- It makes it easy to handle HTTP operations on elements.</h4>
            <h4>- It handles nested resources and relationship between resources</h4>
            <h4>- It can return either an object to be filled or a promise</h4>
          </div>
        </div>
      </section>

      <section>
        <div class="content list">
          <div class="unbrokenline"></div>
          <h3>Promises on AngularJS</h3>
          <div class="unbrokenline"></div>
          <div class="fake-list">
            <h4>- They're absed on Q library</h4>
            <h4>- They're A+ compilant</h4>
            <h4>- It returns right a way an object with listeners for once the value is returned</h4>
            <h4>- Main function is `then` which receives 2 functions, one for success and one for error</h4>
            <h4>- If the then callback function returns a new value or a new promise, then a new promise of that value is returned by the then</h4>
          </div>
        </div>
      </section>

      <section data-bespoke-state="excercise">
        <div class="content">
          <h3>Excercise time: email-checker-routing</h3>
        </div>
      </section>

      <section>
        <div class="content">
          <div class="byline">
            <div class="classy">
              Now,
            </div>
          </div>
          <h3>We know all the basics</h3>
          <div class="byline">
            <div class="classy">
              to start coding
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="content">
          <div class="byline">
            <div class="classy">
              In this section
            </div>
          </div>
          <h3>We're learning some advanced topics</h3>
          <div class="byline">
            <div class="classy">
              that will help us get AngularJS to its maximum potential
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="content list">
          <h3>So, how does this all work?</h3>
        </div>
      </section>

      <section data-bespoke-state="concepts">
        <div class="content">
        </div>
      </section>

      <section>
        <div class="content list">
          <div class="unbrokenline"></div>
          <h3>Concepts</h3>
          <div class="unbrokenline"></div>
          <div class="fake-list">
            <h4>- Javascript is a "turn based game"</h4>
            <h4>- JS code is called via a call stack</h4>
            <h4>- $digest is a wrapper or decorator for regular function execution</h4>
            <h4>- $apply performs a $digest</h4>
            <h4 class="thumb">- Thumb rule: Call $apply when an event/function that's not known by AngularJS is called</h4>
          </div>
        </div>
      </section>

      <section>
        <div class="content list">
          <h3>Then, what's a template?</h3>
        </div>
      </section>

      <section data-bespoke-state="livecode">
        <div class="content">
          <h4>Markup</h4>
          <pre><code class="language-markup">
&lt;div&gt;
  &lt;p&gt;My name is {{person.name | firstName}}&lt;/p&gt;
  &lt;alert-button msg="'Cool message'"/&gt;
&lt;/div&gt;
          </code></pre>
          Watching in JS
          <pre><code class="language-javascript">
$scope.personName = null;
$scope.$watch('person.name', function(name) {
  if (!name) return;

  $scope.personName = $filter('firstName')(name);
});

// Or
$scope.$watch('person.name | firstName', function(name) {
  if (!name) return;

  $scope.personName = name;
});
          </code></pre>
        </div>
      </section>

      <section data-bespoke-state="livecode">
        <div class="content">
          Different watchers
          <pre><code class="language-javascript">
$scope.person = {name: "gonto"};
$scope.$watch('person', function(newValue, oldValue) {
  if (!newValue) return;

  // Only called on reference change
});

$scope.$watch('person', function(newValue, oldValue) {
  if (!newValue) return;

  // Called on value changed
}, true);
          </code></pre>
        </div>
      </section>

      <section>
        <div class="content">
          <h3>Now let's go back to directives</h3>
        </div>
      </section>

      <section>
        <div class="content list">
          <div class="unbrokenline"></div>
          <h3>Advanced Directives</h3>
          <div class="unbrokenline"></div>
          <div class="fake-list">
            <h4>- Each directive has a compile and a link function</h4>
            <h4>- It works very similar to handlebar's compile and render but it works with DOM instead of String</h4>
            <h4>- Compile returns a linker function that given the context will modify the DOM</h4>
            <h4>- The linker is the function that receives the context</h4>
            <h4 class="thumb">- Thumb rule: You'll only use compile if you need to reuse the template in the future (ng-repeat, ng-if)</h4>
          </div>
        </div>
      </section>

      <section>
        <div class="content list">
          <div class="unbrokenline"></div>
          <h2>Advanced Directives</h2>
          <div class="unbrokenline"></div>
          <div class="fake-list">
            <h4>- You can have multiple directives at one element and have them depend on each other. You use the require keyword for this.</h4>
            <h4>- Each directive can share its controller with sibling or father/son directives</h4>
            <h4>- This is used a lot in transclusion and ngModel as we'll see now</h4>
          </div>
        </div>
      </section>

      <section>
        <div class="content list">
          <div class="unbrokenline"></div>
          <h2>ngModel</h2>
          <div class="unbrokenline"></div>
          <div class="fake-list">
            <h4>- It's a very simple directive with a very cool controller</h4>
            <h4>- Let's <a href="http://docs.angularjs.org/api/ng.directive:ngModel.NgModelController">check the documentation</a> to see what you can do</h4>
            <h4>- It basically allows for adding transformers for DomToValue, ValueToDom and allows for setting a model to be valid or not.</h4>
          </div>
        </div>
      </section>

      <section>
        <div class="content list">
          <div class="unbrokenline"></div>
          <h2>formController</h2>
          <div class="unbrokenline"></div>
          <div class="fake-list">
            <h4>- By entering a form with name or a ngForm, we're already using this directive</h4>
            <h4>- It allows us to handle validations of our models joining forces with ngModel</h4>
            <h4>- It doesn't send form submission to the server unless there's an action. Submission is triggered by the first submit button with ngClick or ngSubmit directive on form element.</h4>
          </div>
        </div>
      </section>




      <section>
        <div class="content">
          <div class="byline">
            <div class="classy">
              This is the end of the workshop, so
            </div>
          </div>
          <h3>Thank you for listening</h3>
          <div class="byline">
            <div class="classy">
              or at least pretending to
            </div>
          </div>
        </div>
      </section>

      <section data-bespoke-state="final" class="intro">
        <div class="content">
          <div class="byline">
            <div class="classy">
              This has been
            </div>
          </div>
          <h1>Angular 101</h1>
          <h1>From n00b to ngExpert</h1>
          <div class="byline">
            <div class="classy">
              by Martin Gontovnikas
            </div>
          </div>
          <div class="profile">
            <div class="rounded-image">
              <img src="img/gonto.jpg">
            </div>
            <h3>@mgonto</h3>
          </div>
        </div>
      </section>

    </article>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Tauri::latin', 'Alegreya:400italic:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    <script src="js/bespoke.js"></script>
    <script src="js/prism.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/app.bootstrap.js"></script>
    <script src="js/app.basic.js"></script>
    <script src="js/deck.js"></script>
    </body>
</html>
